<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="net.softsociety.zawa.vo.AccountVO" alias="AccountVO" />
		<typeAlias type="net.softsociety.zawa.vo.ProfileVO" alias="ProfileVO" />
		<typeAlias type="net.softsociety.zawa.vo.PostVO" alias="PostVO" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/PostMapper.xml" />
	</mappers>
</configuration>
