<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sesoc.report.dao.MemberMapper">
	<!-- 회원가입 -->
	<insert id="signup" parameterType="memberVO">
		insert into
			reportmember
		values(
			 #{user_id},
			 #{user_pw},
			 #{user_email}
		)
	</insert>
	
	<!-- id중복확인 -->
	<select id="idcheck" parameterType="string" resultType="int">
		select
			count(*)
		from
			reportmember
		where
			user_id=#{user_id}
	</select>
	
	<!-- 로그인 -->
	<select id="login" parameterType="memberVO" resultType="int">
		select
			count(*)
		from
			reportmember
		where
			user_id = #{user_id} and
			user_pw = #{user_pw}
	</select>
</mapper>
