<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sesoc.report.dao.PostListMapper">
	<!-- 페이징 -->
	<select id="getTotal" parameterType="map" resultType="int">
		select 
			count(*)
		from
			reportpost
		where
			<choose>
				<when test="searchItem == 'title'">title</when>
				<when test="searchItem == 'user_id'">user_id</when>
				<when test="searchItem == 'content'">content</when>
			</choose>
			like '%'||#{searchKeyword}||'%'
	</select>

	<!-- 게시글 목록 -->
	<select id="PostList" resultType="PostVO" parameterType="map">
		select
			*
		from
			reportpost
		where
			<choose>
				<when test="searchItem == 'title'">title</when>
				<when test="searchItem == 'user_id'">user_id</when>
				<when test="searchItem == 'content'">content</when>
			</choose>
			like '%'||#{searchKeyword}||'%'
		order by
			post_no desc
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="postWrite" parameterType="PostVO">
		insert into
			reportpost
		values(
			post_seq.nextval,
			#{user_id},
			#{title},
			#{content},
			sysdate,
			0,
			0,
			<choose>
				<when test="originalFilename != null and savedFilename != null">
					#{originalFilename}, #{savedFilename}
				</when>
				<otherwise>
					null, null
				</otherwise>
			</choose>
		)
	</insert>
	
	<!-- 게시글 읽기 -->
	<select id="postRead" parameterType="int" resultType="PostVO">
		select * from reportpost where post_no = #{post_no}
	</select>
	
	<!-- 게시글 조회수 높은 글 읽기 -->
	<select id="hitRead" resultType="PostVO">
		SELECT * FROM reportpost WHERE hit = (SELECT max(hit) FROM reportpost)
	</select>
	
		<!-- 게시글 조회수 높은 글 번호 찾기 -->
	<select id="hitPost_no" resultType="int">
		SELECT post_no FROM reportpost WHERE hit = (SELECT max(hit) FROM reportpost)
	</select>
	
	<!-- 조회수 올리기 -->
	<update id="hitCount" parameterType="int">
		UPDATE
	        reportpost
	    SET
	        hit = hit +1
	    WHERE
	        post_no = #{post_no}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="postDelete" parameterType="PostVO">
		delete
			reportpost
		where
			post_no = #{post_no} and
			user_id = #{user_id}
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="postUpdate" parameterType="PostVO">
		UPDATE
	        reportpost
	    SET
	        title = #{title},
	        content = #{content},
	        <choose>
	        	<when test="originalFilename != null and savedFilename != null">
	        		originalFilename = #{originalFilename},
	        		savedFilename = #{savedFilename}
	        	</when>
	        </choose>
	    WHERE
	        post_no = #{post_no} and user_id = #{user_id}
	</update>
	
	<!-- 게시글 태그 댓글 전체 읽기 -->
	<select id="allPost" parameterType="String" resultType="HashMap">
		 select * 
        from tag a, reportpost_tag b, reportpost c
        where a.tag_id = b.tag_id 
            and b.post_no = c.post_no
            and a.tag_name = #{tag_name}
	</select>
	
	<!-- 태그검색 읽기 -->
	<select id="tagSearch" parameterType="String" resultType="PostVO">
		select
		 *
		from
		 reportpost_tag 
		where
		 tag_id = (select tag_id from tag where tag_name = #{tag_name})
	</select>
	
	<!-- 태그 읽기 -->
	<select id="tagRead" parameterType="PostVO" resultType="PostVO">
		select * from reportpost where post_no = #{post_no}
	</select>
	
	<!-- 태그검사 -->
	<select id="checkTag" parameterType="String" resultType="tagVO">
		SELECT
			*
		FROM
			tag
		WHERE
			tag_name = #{tag_name}
	</select>
	
	<!-- 태그테이블에 태그넣기 -->
	<insert id="insertTag" parameterType="String">
		INSERT INTO
			tag VALUES(
				tag_seq.nextval
				,#{tag_name}
			)
	</insert>
	
	<!-- 포스트태그테이블에 참조하는 데이터 넣기 -->
	<insert id="insertPostTag" parameterType="ptVO">
		INSERT INTO
			reportpost_tag VALUES(
				#{tag_id}
				,#{post_no}
			)
	</insert>
	
	<!-- 포스트태그테이블의 포스트넘버 찾기 -->
	<select id="getPost_no" resultType="int">
		select
			max(post_no)
		from
			(SELECT
				post_no
			FROM
				reportpost
			)
	</select>
	
	<!-- 포스트넘버 찾기 -->
	<select id="getTag" parameterType="int" resultType="tagVO">
		select
			tag_name
		from 
			tag
		where
			tag_id in (SELECT tag_id FROM reportpost_tag WHERE post_no = #{post_no})
	</select>
	
	<!-- 좋아요 -->
	<update id="like_check" parameterType="HashMap">
		update tolike
		set like_check = like_check +1
		where user_id = #{user_id} and post_no = #{post_no}
	</update>
	
	<!-- 좋아요 포스트테이블 카운트 증가 -->
	<update id="like_cnt_up" parameterType="int">
		update reportpost
		set like_cnt = like_cnt + 1
		where post_no = #{post_no}
	</update>
	
	<!-- 좋아요 포스트테이블 카운트 감소 -->
	<update id="like_cnt_down" parameterType="int">
		update reportpost
		set like_cnt = like_cnt -1
		where post_no = #{post_no}
	</update>
	
	<!-- 좋아요 취소 -->
	<update id="like_check_cancel" parameterType="HashMap">
    UPDATE tolike
    SET like_check = 0
    WHERE user_id = #{user_id} and post_no = #{post_no}
    </update>
    
    <!-- 좋아요 카운트 -->
    <select id="countbyLike" resultType="int" parameterType="HashMap">
    SELECT COUNT(like_no) as cnt
    FROM tolike
    WHERE post_no = #{post_no} AND user_id = #{user_id}
	</select>

  <!-- 좋아요 읽어오기 -->
    <select id="like_read" resultType="likeVO" parameterType="HashMap">
   SELECT 
		*
   FROM tolike
   WHERE post_no = #{post_no} AND user_id = #{user_id}
  </select>
  
   <!-- 멤버 데이터 읽어오기 -->
    <select id="member_read" resultType="memberVO" parameterType="String">
   SELECT 
		*
   FROM member
   WHERE user_id = #{user_id}
  </select>
  
  <!-- 좋아요 인서트 -->
  <insert id="create" parameterType="HashMap">
   INSERT INTO tolike(like_no, post_no, user_id, like_check) 
   VALUES ((SELECT NVL(MAX(like_no), 0) + 1 as like_no FROM tolike),
                #{post_no}, #{user_id}, 0)
  </insert>
	
<!-- 	태그검색폼에 넣는 것 -->
	<select id="getTagName" parameterType="int" resultType="HashMap">
	select c.post_no, a.tag_name 
        from tag a, reportpost_tag b, reportpost c
        where a.tag_id = b.tag_id 
            and b.post_no = c.post_no
            and c.post_no = #{post_no}
	</select>
	
	<!-- 	태그검색폼에 댓글정보 넣는 것 -->
	<select id="tagComment" parameterType="String" resultType="HashMap">
		select * 
        from tag a, reportpost_tag b, reply c
        where a.tag_id = b.tag_id 
            and b.post_no = c.post_no
            and a.tag_name = #{tag_name}
        order by c.post_no
	</select>
	
	<!-- 	태그검색폼에 댓글카운트 -->
	<select id="tagCommentCnt" parameterType="String" resultType="HashMap">
		select count(c.replynum) as comment_cnt, c.post_no
		from tag a, reportpost_tag b, reply c
		where 
			a.tag_id = b.tag_id 
			and b.post_no = c.post_no
			and a.tag_name = #{tag_name}
		group by c.post_no
		order by c.post_no
	</select>
	
</mapper>
