<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.zawa.dao.UserMapper">
	<!-- 계정 생성 -->
	<insert id="createAccount" parameterType="AccountVO">
		insert into
			accounts (
				id
				,email
				,pwhash
				,dob
			) values (
				(
					select id
					from (
						select
							trunc(dbms_random.value(1000000000000000,10000000000000000)) as id
						from dual
						connect by level &lt;= 1000
						minus (select id from accounts)
					)
					where rownum = 1
				)
				,#{email}
				,#{pwhash}
				,#{dob}				
			)
	</insert>

	<!-- 이메일, 패스워드를 대조하여 로그인 처리 -->
	<select id="signinAccount" parameterType="AccountVO" resultType="AccountVO">
		select
			id
			,email
			,dob
		from accounts
		where
			email = #{email}
			and pwhash = #{pwhash}
	</select>

	<!-- 이메일 중복 확인 -->
	<select id="findAccountByEmail" parameterType="String" resultType="int">
		select count(id)
		from accounts
		where email = #{email}
	</select>

	<!-- 계정이 보유한 프로필 불러오기 -->
	<select id="getAccountProfiles" parameterType="int" resultType="ProfileVO">
		select
			id
			,displayid
			,name
			,owner
			,suspended
			,isprivate
			,thumbnail
		from profiles
		where owner = #{owner}
	</select>
</mapper>
